extends layout

block content
  div(ui-view='control')
  div(ui-view='scan')
  div(ui-view='screen')
  script(src='javascripts/client.js')
  script(src='modules/config.js')
  script(src='modules/control/controller.js')