doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='libs/jquery/dist/jquery.js')
    script(src='libs/angular/angular.js')
  body(ng-app='main' ng-controller='mainCtrl')
    block content
